{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body style="background-color:gray"
  >
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
 <p>
   &nbsp;
   
  </p> 
  <p>
   &nbsp;
   
  </p> 
  <p>
   &nbsp;
   
  </p> 
<h1  style="text-align:center; font-size: 300%; font-family:courier;">
<b>ALERT!</b> 
  <h2  style="text-align:center; font-size: 100%; font-family:courier;">
<b>STORM HAS BEEN DETECTED!</b> 
  
  </h2>
  <p style = "text-align:center;font-family:courier;">
    <button type="button" class="btn btn-outline-danger btn-lg active forecast">CHASE!</button> &nbsp; 
   
    
    <button type="button" class="btn btn-outline-danger btn-lg active forecast">Dismiss.</button>
  </p>
  
  
  
</body>
</html>





