{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Locations</title>
  <link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  
</head>
<body background = "https://cdn.pixabay.com/photo/2017/04/19/09/06/air-2241564_960_720.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <p>
     &nbsp;
  </p>
  
  <div class="topnav">
  <a class="active" </a>
  <input type="text" placeholder="Enter Location...">
</div>
  <p>
     &nbsp;
  </p>
  </p>
  <h1 style="text-align:center; color: black; font-family:courier;"><b>Around Me</b></h1>
 <p>
   &nbsp;
  </p>
  <ul type = "none" style="text-align:left; font-family: courier;">
    <li >
      <button type="button" class="btn btn-outline-danger btn-lg active forecast"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/UK_traffic_sign_562.svg/1159px-UK_traffic_sign_562.svg.png" width="30" height="30">&nbsp;&nbsp;Pleasanton</button>   <b>79</b>&#176;&nbsp;&nbsp;<img src="https://image.flaticon.com/icons/svg/45/45944.svg" width="40" height="40"></li>
    <li> &nbsp; </li>
   <li >
      <button type="button" class="btn btn-outline-danger btn-lg active forecast"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/UK_traffic_sign_562.svg/1159px-UK_traffic_sign_562.svg.png" width="30" height="30">&nbsp;&nbsp;Wichita</button>   <b>83</b>&#176;&nbsp;&nbsp;<img src="https://image.flaticon.com/icons/svg/45/45944.svg" width="40" height="40"></li>
    <li> &nbsp; </li>
     <li >
      <button type="button" class="btn btn-outline-danger btn-lg active forecast"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/UK_traffic_sign_562.svg/1159px-UK_traffic_sign_562.svg.png" width="30" height="30">&nbsp;&nbsp;Berkeley</button>   <b>67</b>&#176;&nbsp;&nbsp;<img src="https://image.flaticon.com/icons/svg/45/45944.svg" width="40" height="40"></li>
    <li> &nbsp; </li>
     <li >
      <button type="button" class="btn btn-outline-danger btn-lg active forecast"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/UK_traffic_sign_562.svg/1159px-UK_traffic_sign_562.svg.png" width="30" height="30">&nbsp;&nbsp;Fresno</button>   <b>80</b>&#176;&nbsp;&nbsp;<img src="https://image.flaticon.com/icons/svg/45/45944.svg" width="40" height="40"></li>
    <li> &nbsp; </li>
    <li >
      <button type="button" class="btn btn-outline-danger btn-lg active forecast"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/UK_traffic_sign_562.svg/1159px-UK_traffic_sign_562.svg.png" width="30" height="30">&nbsp;&nbsp;Stockton</button>   <b>76</b>&#176;&nbsp;&nbsp;<img src="https://image.flaticon.com/icons/svg/45/45944.svg" width="40" height="40"></li>
    <li> &nbsp; </li>
    <li >
      <button type="button" class="btn btn-outline-danger btn-lg active forecast"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/UK_traffic_sign_562.svg/1159px-UK_traffic_sign_562.svg.png" width="30" height="30">&nbsp;&nbsp;Alameda</button>   <b>83</b>&#176;&nbsp;&nbsp;<img src="https://image.flaticon.com/icons/svg/45/45944.svg" width="40" height="40"></li>
    
</ul>

	

</body>
</html>
