{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body background = "https://cdn.pixabay.com/photo/2017/04/19/09/06/air-2241564_960_720.jpg">
 
>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <h1 style="text-align:center; font-family:verona; font-size: 120%; color: white; font-family:courier">July 1st, 2019</h1>
 <hr>
   <h1 style="text-align:center; font-family:courier;"><b>WICHITA,KA</b></h1>
    <p style = "font-size: 400%; text-align: center; font-family:courier"><img src = "http://www.clker.com/cliparts/j/8/1/S/0/m/exclamation-red-hi.png" width = "50" height = "45"><b>83&#176;</b></a> </p>
<hr>
<p style="text-align:center; font-family:courier;font-size: 200%;">
  <b>Storm Detected...</b>
</p>

<hr>
   <center><img src = "http://images.clipartpanda.com/thunderstorm-clipart-thunder-cloud-s-cutie-mark-md.png" width = "150" height = "150"></center>
   
  
 
  <div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>

<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
 <p>
   &nbsp;&nbsp;&nbsp;&nbsp;<img src = "https://cdn4.iconfinder.com/data/icons/pictograms-1/512/Map-512.png" width="40" height="40">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-outline-danger">Details</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src = "http://icons.iconarchive.com/icons/icons8/windows-8/512/Data-List-icon.png" width="40" height="35">
</p>
  
  
  
</body>
</html>





